.winner {
	color: green;
}

body {
	background: url(http://www.1000goals.com/wallpapers3/2012/10/all_sports_images.jpg);
}

h1 {
	color: red;
	font-family: Impact;
}

p {
	color: red;
	font-family: Impact;
}